.sign-up {
  margin-top: 60px;
  display: flex;
  justify-content: center;

  &__container {
    background-color: #fff;
    width: 384px;
    height: auto;
    padding: 48px 32px;
    border-radius: 6px;
    border: 1px solid #d9d9d9;
    background: #fff;
    box-shadow: 0px 0.609px 2.933px 0px rgba(0, 0, 0, 0.02), 0px 1.463px 7.049px 0px rgba(0, 0, 0, 0.03),
      0px 2.755px 13.273px 0px rgba(0, 0, 0, 0.04), 0px 4.914px 23.676px 0px rgba(0, 0, 0, 0.04),
      0px 9.191px 44.284px 0px rgba(0, 0, 0, 0.05), 0px 22px 106px 0px rgba(0, 0, 0, 0.07);
  }

  &__title {
    width: 311px;
    color: #262626;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
  }

  &__form {
    margin-top: 21px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__form label {
    width: 320px;
    color: #262626;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }

  &__button {
    display: flex;
    width: 319px;
    padding: 8px 16px;
    margin-top: 21px;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    border-radius: 4px;
    background: #1890ff;
    color: #fff;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  &__caption {
    margin-top: 8px;
    color: #8c8c8c;
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }

  &__personal-data {
    position: relative;
    margin-top: 29px;
  }

  &__personal-data::after {
    position: absolute;
    content: "";
    top: -8px;
    width: 320px;
    border-top: 1px solid #e8e8e8;
  }

  &__personal-data label {
    gap: 8px;
    width: 278px;
    color: #595959;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    display: flex;
  }

  &__personal-data input {
    width: 16px;
    height: 16px;
  }

  &__button:disabled {
    background: #8c8c8c;
  }
}

.link {
  color: #1890ff;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.input {
  width: 320px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  background: #fff;
  padding: 8px 12px;
  color: #bfbfbf;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.input-error {
  border-color: #f5222d;
}

.error-message {
  margin-top: 5px;
  color: #f5222d;
}
